
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(229 231 235);
}

@layer components {
  .title-main {
    font-weight: bold;
    color: rgb(30 41 59);
    margin-top: 4rem;
    text-align: center;
    font-size: theme('fontSize.3xl');
  }
  .title-info {
    color: theme('colors.gray.400');
    font-family: 'Arial'
  }
  .title-output {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: x-large;
  }

  .link {
    font-size: large;
    color: whitesmoke;
  }
  .wraper-link {
    @apply flex [&>*]:mx-1 cursor-pointer;
  }
}