@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(229 231 235);
}
@layer components {
  .box{
    @apply md:container md:mx-auto;
    min-height: calc(100vh - 56px);
  }
  .global-stats-crypto {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.75rem;
    justify-items: center;
    margin: 1rem 0.75rem 0 2.5rem;
    &>*{
      min-width: 160px;
    }
  }
  .title-main {
    font-weight: bold;
    color: rgb(30 41 59);
    text-align: center;
    font-size: theme('fontSize.3xl');
    margin: 4rem 1rem 0;
  }
  .title-info {
    color: theme('colors.gray.400');
    font-family: 'Arial'
  }
  .title-output {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: x-large;
  }
  .navigation {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgb(41 37 36 / 1);
  }
  .link {
    font-size: large;
    color: whitesmoke;
    display: flex;
    margin-right: 0.5rem;
  }
  .menu-icon{
    display: none;
  }
  .active {
    color: rgb(59 130 246 / 1);
  } 
  .wraper-link {
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  .input {
    border-bottom-width: 2px;
    padding: 0.75rem;
    border-color: rgb(71 85 105 / 1);
    outline: 2px solid transparent;
    outline-offset: 2px;
    @apply focus:border-blue-600 transition-colors;
  }
  .list-crypto {
    display: grid;
    gap: 1rem;
    margin: 0 10px 20px;
    @apply grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
  }
  .item-crypto {
    min-height: 200px;
    border-width: 1px;
    background-color: rgb(255 255 255 / 1);
    border-color: rgb(71 85 105 / 1);
    padding: 1rem;
    word-break: break-all;
    @apply  hover:shadow-lg;
  }
  .dropdown{
    width: 11rem;
    border-radius: 0.375rem;
    background-color: rgb(255 255 255 / 1);
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: rgb(17 24 39 / 1);
    @apply  shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 my-3;
  }
  .info-stats{
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    padding: 10px;
    transition: all .5s;
    border-radius: 6px;
    &:hover {
      background-color: aliceblue
      
    }
  }
  .list-links{
    width: 50%;
    margin: auto;
  }
  .title-name-crypto{
    color: rgb(29 78 216 / 1);
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .stats-result-crypto{
    font-weight: 700;
    color: rgb(0 0 0 / 1);
  }
  .bottom-border{
    border-width: 1px;
    border-bottom-color: rgb(203 213 225 / 1);
  }
  .more-info-crypto{
    font-weight: 600;
    color: rgb(29 78 216 / 1);
  }

  @media (max-width:500px){
    .wraper-link{
      align-items: flex-start  !important;
      flex-direction: column;
      padding: 10px;
      transition: all .5s;
      z-index: -1;
      &>div{
        margin: 3px 0;
      }
      @apply bg-stone-800
    }
    .menu-active{
      transform: translateY(80px);
      z-index: 1;
      border-radius: 0.375rem;
    }
    .menu-icon{
      display: block;
      z-index: 1;
      position: absolute;
      right: 24px;
      top: 40px
    }
    .navigation {
      padding-right: 0;
    }
  }
  @media (max-width:640px){ 
    .list-crypto {
      width: 50%;
      margin: 0 auto;
    }
  }
  @media (max-width:726px){
    .list-links {
      width: 80%;
    }
  }
}

